

#topcorner{
   position:absolute;
   top:10px;
   right: 200px;
   width:90px;
height:30px;
overflow: hidden;
border-radius:0.5em;
background-color: #52D5FF;

margin-top: 20px;

   
  }
  #topcorner1{
   position:absolute;
   top:10px;
   right: 10px;
   width:90px;
height:30px;
overflow: hidden;
border-radius:0.5em;
background-color: #52D5FF;

   
  }
 .bottom td{
	border-bottom: 1px solid black;
	font-size: 40px;
	
}

#top{
	border-top: 1px solid black;
	font-size: 40px;
}


div{

	margin-top: 40px;
}

a{
  text-decoration: none;
}

margin-top: 20px;
   
  }

