<!-- Adding more Icons and styling to the page-->
<!DOCTYPE html>
<html>
<head>
    <title>ADMIN REQUEST</title>
    <link rel="stylesheet" type="text/css" href="Adminreqpage.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:700" rel="stylesheet">
</head>
<body>
    <h1>SA REPAIRES</h1>
    <div>
<table id ="table1" border="1">
    <tr id=header>
        <td>
           
                <h2>My Requests.</h2><br>
        </td>
    </tr>
    <tr>
        <td><a href="#">Repair Request: Faulty engine<br>
            User: Timi Akin<br>
            <em> about one minute ago</em></a>
        </td>
        <tr>
              <td> <a href="#">Service Request: checking of the cyclinders <br>
            User: Boggy gan<br>
            <em> about one minute ago</em></a>
        </td>
            
        </tr>
        <tr>
            <td> <a href="#">Service Request: Full car check up <br>
            User: Lela opert<br>
            <em> about five minute ago</em></a>
        </td>
            
        </tr>
        <tr>
            <td> <a href="#">Repair Request: broken mirror <br>
            User: Lela opert<br>
            <em> about one hour ago</em></a>
        </td>
            
        </tr>
        <tr>
            <td> <a href="#">Repair Request: broken mirror <br>
            User: jak robert<br>
            <em> about two days ago</em></a>
        </td>
            
        </tr>
         <tr>
            <td> <a href="#">Repair Request: broken windshield <br>
            User: sofyy robert<br>
            <em> about two days ago</em></a>
        </td>
            
        </tr>

        <tr>
            <td> <a href="#">Repair Request: bad roof <br>
            User: sofyy robert<br>
            <em> about two days ago</em></a>
        </td>
            
        </tr>
        <tr>
            <td> <a href="#">Repair Request: bad roof <br>
            User: tope Gbenga<br>
            <em> about three days ago</em></a>
        </td>
            
        </tr>
        
    </tr>
</table>
</div>


            <table id="table2">
                <tr class="bottom" >
            <td id= top><a href="">Dashboard</a></td>
            </tr>
            
            <tr class="bottom">
            <td><a href="">Requests</a></td>
            </tr>
            <tr class="bottom">
            <td><a href="">Info</a></td>
            </tr>
            <tr class="bottom">
            <td><a href="">Unresolved Requests</a></td>
            </tr>
            <tr class="bottom">
            <td><a href="">Solved Request</a></td>
            </tr>
            <tr class="bottom">
            <td><a href="">Settings</a></td>
            </tr>
                
            </table>

       


 <button id="topcorner1">Sign out</button>

</body>
</html>