
<!-- Admin can select each request, making each request a link -->
<!DOCTYPE html>
<html>
<head>
    <title>ADMIN REQUEST</title>
</head>
<body>
<table border="1">
    <tr>
        <td><h1>Requests</h1></td>
    </tr>
    <tr>
        <td><a href="#">Repair Request: Faulty engine<br>
            User: Timi Akin<br>
            <em> about one minute ago</em></a>
        </td>
        <tr>
              <td> <a href="#">Service Request: checking of the cyclinders <br>
            User: Boggy gan<br>
            <em> about one minute ago</em></a>
        </td>
            
        </tr>
        <tr>
            <td> <a href="#">Service Request: Full car check up <br>
            User: Lela opert<br>
            <em> about one minute ago</em></a>
        </td>
            
        </tr>
        <tr>
            <td> <a href="#">Repair Request: broken mirror <br>
            User: Lela opert<br>
            <em> about one minute ago</em></a>
        </td>
            
        </tr>
        
    </tr>



</table>
</body>
</html>