<<!-- STYLE THE TABLE ON THIS PAGE-->
<!DOCTYPE html>
<html>
<head>
    <title>ADMIN REQUEST</title>
    <link rel="stylesheet" type="text/css" href="Adminreqpage.css">
</head>
<body>
    <h1>SA REPAIRES</h1>
<table id ="table1" border="1">
    <tr>
        <td><h1>Requests</h1></td>
    </tr>
    <tr>
        <td><a href="#">Repair Request: Faulty engine<br>
            User: Timi Akin<br>
            <em> about one minute ago</em></a>
        </td>
        <tr>
              <td> <a href="#">Service Request: checking of the cyclinders <br>
            User: Boggy gan<br>
            <em> about one minute ago</em></a>
        </td>
            
        </tr>
        <tr>
            <td> <a href="#">Service Request: Full car check up <br>
            User: Lela opert<br>
            <em> about one minute ago</em></a>
        </td>
            
        </tr>
        <tr>
            <td> <a href="#">Repair Request: broken mirror <br>
            User: Lela opert<br>
            <em> about one minute ago</em></a>
        </td>
            
        </tr>
        
    </tr>
</table>

    <div>
            <table id="table2">
                <tr class="bottom" >
            <td id= top><a href="">Dashboard</a></td>
            </tr>
            
            <tr class="bottom">
            <td><a href="">Requests</a></td>
            </tr>
                
            </table>

        </div>

 <button id="topcorner1">Sign out</button>

</body>
</html>