<!-- Admin can see all his/her requests-->
<!DOCTYPE html>
<html>
<head>
	<title>ADMIN REQUEST</title>
</head>
<body>
<table border="1">
	<tr>
		<td><h1>Requests</h1></td>
	</tr>
	<tr>
		<td>Repair Request: Faulty engine<br>
			User: Timi Akin<br>
			<em> about one minute ago</em>
        </td>
        <tr>
        	  <td> Service Request: Checking of the cyclinders <br>
			User: Boggy gan<br>
			<em> about one minute ago</em>
        </td>
        	
        </tr>
        <tr>
        	<td> Service Request: Full car check up <br>
			User: Lela opert<br>
			<em> about one minute ago</em>
        </td>
        	
        </tr>
        <tr>
        	<td> Repair Request: Broken mirror <br>
			User: Lela opert<br>
			<em> about one minute ago</em>
        </td>
        	
        </tr>
        
	</tr>

</table>
</body>
</html>