form{
	max-width: 380px;
    margin: auto;

}

#tbut{
	width:90px;
height:30px;
overflow: hidden;
border-radius:0.5em;
background-color: #52D5FF;
margin-left: 130px;
}

.border {
	border: 1px solid gray;
	padding: 10px;
	border-radius: 25px;
	background-color: gray;
	padding-top: 18px;
}
 .tbox{
width:350px;
height:50px;
overflow: hidden;
border-radius:0.5em;
padding-left: 15px;
padding-top: 5px;
font-size: 17px;

}

#Description{
	width:350px;
height:100px;
overflow: hidden;
border-radius:0.5em;
padding-left: 15px;
padding-top: 5px;
font-size: 17px;


}
h1{
	max-width: 420px;
    margin: auto;
   font-family: 'Quantico', sans-serif;
    
    color: blue;
    padding-left: 100px


}
body
{
	
	
	padding-top: 80px;

}
